/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2018, 17:35:25
    Author     : jonab
*/


.logo{
    height:35px;
    width:35px;
}



.logo_rs{
    width:95px;
    hight:40px;
    
}
.icone_contact_bloc{
    margin-left:5%;
    
    width:50px;
    
}

.details_text{
    color:white;
    margin-top:5%;
}

.photo_page_photo{
    height:400px;
    width:560px;
    borde:1px solid black;
    
}
.img_page_photo{
    
    height:400px;
}

section{
    background-color: #171515;
}
.nav_bar_color{
    background-color: #171515!important;
}