/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2018, 17:35:25
    Author     : jonab
*/

.logo_home_bloc{
   hight:150px; 
   width:150px;
   
   margin-top:5%;
   margin-bottom: 5%;
}
.logo_home{
    width:100%;
    hight:150px;
    
    
    
}



.logo_rs{
    width:95px;
    hight:40px;
    
}
.icone_contact_bloc{
    margin-left:5%;
    margin-top:5%;
    width:50px;
    margin-bottom: 10%;
}
.icone_contact{
    height:41px;
    width:100%;
    
    
}
body{
    background-color: black;
}

.photo_page_photo{
    height:450px;
    width:100%;
    borde:1px solid black;
}